<div class="col-xl-6 col-md-6 col-xs-12">
  <div class="card">
    <div class="card-header"><h4 class="card-title">Outlets</h4></div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <td>name</td>
              <td>number</td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let outlet of outlets"
              app-list-item
              [outlet]="outlet"
            ></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
