<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <li class=" nav-item"><a [routerLink]="['/Dashboard']"><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/Servers']"><span data-i18n="nav.dash.main" class="menu-title">Servers</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/Ledstrips']"><span data-i18n="nav.dash.main" class="menu-title">Led strips</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/Switches']"><span data-i18n="nav.dash.main" class="menu-title">Outlets</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/Routines']"><span data-i18n="nav.dash.main" class="menu-title">Switches</span></a></li>
    </ul>
  </div>
</div>
