<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <li class=" nav-item"><a [routerLink]="['/dashboard']"><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/servers']"><span data-i18n="nav.dash.main" class="menu-title">Servers</span></a></li>
      <li class=" nav-item"><a [routerLink]="['/strips']"><span data-i18n="nav.dash.main" class="menu-title">led strips</span></a></li>
    </ul>
  </div>
</div>
