<div class="col-xl-6 col-md-6 col-xs-12">
  <div class="card">
    <div class="card-header"><h4 class="card-title">Edit routines</h4></div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <td>name</td>
              <td>actions</td>
              <td></td>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

