<div class="col-xl-12 col-md-12 col-xs-12">
  <div class="card">
    <div class="card-header"><h4 class="card-title">Ledstrips</h4></div>
    <div class="card-body collapse in">
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <td>Name</td>
              <td>Address</td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let s of ledstrips"
              app-controller-item
              [controller]="s"
            ></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
